Incorrectly decoding query parameters

Exactly the same problem as #688 (which I can confirm was fixed in Kong 0.5.3), but this time for query parameters.

If I hit `/foo?param=abc%7Cdef` via Kong, the `%7C` (pipe character) gets decoded and so the URL is passed through to the backend as `/foo?param=abc|def`. This causes my backend server (Spray) to reject the request.

After a quick look through the Kong source, my guess is that percent-encoding needs to be performed in the `encode_args` function, because it is using as input the params that nginx has (unhelpfully) decoded: https://github.com/Mashape/kong/blob/873d8280b32258fa1dc0c97c8834ea2e826c539b/kong/tools/ngx_stub.lua#L54

Technically both the param names and values should be percent-encoded. (See [RFC 3986 section 3.4](https://tools.ietf.org/html/rfc3986#section-3.4). The query string is made up of `pchar`, which means it may be percent-encoded.)

The method you pointed out is only used when tests are running (`ngx` is monkey-patched). The method used is [`ngx.encode_args`](https://github.com/openresty/lua-nginx-module#ngxencode_args) which is in ngx_lua itself.

Let me quickly explain what is going on here: since Kong needs to eventually modify some query parameters (like the request-transformation plugin), they are detached from the URI, processed by plugins, and re-attached to the URI at the very last moment before proxying the request.

The problem seems to be the result of several assumptions made by ngx_lua:

- It seems that [`ngx.get_uri_args`](https://github.com/openresty/lua-nginx-module#ngxreqget_uri_args) is performing percent-decoding and does not provide an option to retrieve raw query parameters. This can be a good thing when plugins need to modify the values, but forces us to re-encode the values once they are re-attached to the URI.
- Except that [`ngx.encode_args`](https://github.com/openresty/lua-nginx-module#ngxencode_args) does not percent-encode `|`, nor many of the reserved characters from RFC 3986.

There is an opened pull request which addresses this on ngx_lua: openresty/lua-nginx-module#542 which seems promising, but it is hanging.

```lua
local args = {foo = ",$@|`"} -- percent-decoded by ngx.get_uri_args()
-- current behavior
ngx.encode_args(plain) -- foo=,$@|`
-- expected behavior
ngx.encode_args(plain) -- foo=%2C%24%40%7C%60
```

For now, I see no choice but to iterate through the query values and percent-encode each one of them with another function, such as [LuaSocket's url.escape](http://w3.impa.br/~diego/software/luasocket/url.html).

#752 should solve that.

Thanks! Feels good to wake up in the morning and find that both my issues have been fixed overnight :)